# Fichiers Excel
*.xlsx
*.xls
*.csv

# Fichiers système macOS
.DS_Store

# Fichiers temporaires R
.Rhistory
.RData

# Environnements Conda et Virtuels
.conda/
env/
venv/
ENV/

# Supprime pycache
**/__pycache__/
*.py[cod]